---
---

@import "{{ site.theme }}";
@import url('https://unpkg.com/basscss@8.0.2/css/basscss.min.css');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Inconsolata');

body {
  color: rgba(0,0,0,.9) !important;
  font-family: Inconsolata;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Alfa Slab One', cursive;
  text-shadow: 1px 1px 1px #969696;
  font-weight: 400;
  color: #2b2b2b !important;
}